@use "./variables.scss" as *;

// put your custom CSS here!

:root{
    --inline-title-weight: 800 !important;
}

article p {
  color: var(--text-normal) !important;
}

body .breadcrumb-container {
    margin-bottom: 12;
}